  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header,
.images,
.quote,
.sign-up {
    padding: 40px 15vw;
}

.links > a,
.intro-text > p,
.intro-text > button {
    text-decoration: none;
    color: #e5e7eb;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 25px;
}

header nav {
    display: flex;
}

header nav .title {
    margin-right: auto;
}

.intro {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.intro > * {
    flex: 1;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.intro-text > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.intro-text > button {
    max-width: 100px;
    background-color: #3882f6;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: 800;
}

.intro-image > img {
    max-width: 100%;
    height: auto;
}

.images > h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.image-container {
    display: flex;
    padding-top: 20px;
    gap: 30px;
}

.image-container > .image {
    flex: 1;
}

.image-container > .image > img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    border: solid 4px #3882f6;
}

.image-container > .image > p {
    text-align: center;
    padding: 0 5px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding: 40px auto;
}

.quote > strong {
    display: block;
    text-align: end;
}